body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff4e0;
    display: flex;
  }

  .menu {
    width: 200px;
    
    background: #fff;
    
    padding: 20px;
    height: 100vh;
  }

  .menu h2 {
    margin-top: 0;
    font-size: 18px;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }

  .menu ul li {
    margin: 15px 0;
  }

  .menu ul li a {
    text-decoration: none;
    color: #333;
  }

  .contenido {
    flex: 1;
    padding: 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  .favorito {
    cursor: pointer;
    font-size: 30px;
    color: gray;     
  transition: color 0.3s;
}

.favorito.active {
  color: gold;   
}

.fav-msg {
  position: absolute;
  top: -30px;        
  right: 0;           
  background: white;
  color: #333;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  white-space: nowrap; 
}
  

.receta {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: 30px;
}

.receta img {
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}


.detalles {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

#ingredientes li {
  margin: 6px 0;
}

#procedimiento {
  list-style-type: decimal;
  padding-left: 20px;
}

#procedimiento li {
  margin: 8px 0;
  line-height: 1.4;
}

#btnFav {
  margin-top: 20px;
  border: none;
  background: transparent; 
  box-shadow: none;         
  outline: none;            
  cursor: pointer;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
}

  .comentarios {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  .estrellas {
    font-size: 30px;
    color: gold;
    cursor: pointer;
    margin-top: 10px;
  }

  .flecha {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  
  .estrellas span {
    color: lightgray; 
    transition: color 0.2s;
  }
  
  .estrellas span.selected {
    color: gold; 
  }
  
  .menu h2 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 30px 0;
    font-size: 23px
  }
  
  .menu h2 img {
    width: 40px;
    height: auto;
  }

  h3 {
display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 550;
    
  }

  h3 img{
    width: 40px;
    height: auto;
  }
  