body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #fff4e0;
  }

  .sidebar {
    width: 200px;
    height: 610px;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 20px;
  }
  .sidebar h2 {
    margin-bottom: 20px;
  }
  .sidebar a {
    display: block;
    padding: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .sidebar a.active {
    background: #e67e22;
    color: white;
  }

  .content {
    flex: 1;
    padding: 30px;
    text-align: center;
  }
  .search-bar {
    margin: 20px 0;
    
  }
  .search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .search-bar button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background: #e67e22;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .recipe {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background: #fff;
  }

  .sidebar h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 30px 0;
    font-size: 23px
  }
  
  .sidebar h3 img {
    width: 40px;
    height: auto;
  }
  
  .content img {
    width: 50px;          
    height: auto;
    position: relative;
    top: 10px;
  }
  
  .content h1 {
    font-size: 32px;      
    margin: 0;
    font-weight: bold;
  }
  
  #recetas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tarjeta-receta {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  }
  
  .tarjeta-receta img {
    width: 100%;
    border-radius: 10px;
  }
  
 

  .recetas-home {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}



.tarjeta-receta:hover {
  transform: scale(1.05);
}

.imagen-container {
  position: relative;
}

.imagen-receta {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: cover;
}

.estrella-fav {
  position: absolute;
  top: 250px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  
}

.estrella-fav.favorito {
  color: gold;
}

.nombre-receta {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}
