body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #fff4e0;
  }
  .container {
    border: 1px solid #ccc;
    padding: 30px;
    width: 300px;
    text-align: center;
    background: #fff;
    opacity: 0.8;
  }
  h2 {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    background: #ff6f61;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    text-decoration: underline;
  }

  .logo-login {
    position: absolute;   
    top: 20px;
    left: 20px;         
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .logo-login img {
    width: 40px;
    height: auto;
  }
  
  .logo-login span {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  button:hover {
    text-decoration: underline;
  }

  .regis{
    background-color: #FFB74D;
    border: none;
  }

  .usu{
    background-color: #d6d6d6;
    border-color: #000;
  }

input::placeholder{
  color: #000;
}

  .contra{
   background-color: #d6d6d6;
   border-color: #000;
  }

  .divider {
   border: none;          
  border-top: 2px solid #ccc; 
  margin: 25px 0;        
  width: 100%;         
}
