body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #fafafa;
  }
  .sidebar {
    width: 200px;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 20px;
  }
  .sidebar h2 {
    margin-bottom: 20px;
  }
  .sidebar a {
    display: block;
    padding: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  .sidebar a.active {
    background: #e67e22;
    color: white;
  }
  .content {
    flex: 1;
    padding: 30px;
    text-align: center;
  }
  .search-bar {
    margin: 20px 0;
  }
  .search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .search-bar button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background: #e67e22;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .recipe {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background: #fff;
  }

  .logo {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;              
    margin-bottom: 20px;    
  }
  
  .logo img {
    width: 50px; 
    height: auto;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold; 
  }

  
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333; 
    text-align: center; 
  }

  h1 {
    display: flex;
  align-items: center; 
  gap: 10px; 
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 25px 0;
  }
  
  .sidebar h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 30px 0;
    font-size: 23px
  }
  
  .sidebar h3 img {
    width: 40px;
    height: auto;
  }