body {
      margin: 0;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      border-bottom: 1px solid #ddd;
    }

    .logo {
      font-weight: bold;
      font-size: 18px;
    }

    .nave {
  display: flex;
  justify-content: flex-end; 
  padding: 20px;
}

.btn {
  padding: 7px 18px;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
}


.btn-white {
  background-color: #FFF4E0;
  border: 2px solid #ddd;
  color: black;
}


.btn-orange {
  background-color: #FFB74D;
  border: none;
  color: black;
   align-items: center; 
  justify-content: center; 
}

    nav a:hover {
      color: brown; 
    }

    .content {
      margin-top: 100px;
    }

    .content h1 {
      font-size: 80px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }

    .content p {
      font-size: 18px;
      color: #000000;
      max-width: 600px; 
      margin: 0 auto;   
      text-align: center;
      line-height: 1.4; 
    }
  
    .logo {
      display: flex;
      align-items: center; 
      gap: 10px; 
    }
    
    .logo img {
      width: 50px;  
      height: auto; 
    }
    
    .logo span {
      font-size: 24px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }

    body.fondo {
  background-image: url("../imagenes/inicio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 88vh;
  position: relative;
  opacity: 0.8;
  overflow: hidden;
}

