body {
      margin: 0;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      border-bottom: 1px solid #ddd;
    }

    .logo {
      font-weight: bold;
      font-size: 18px;
    }

    nav a {
      margin-left: 20px;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    nav a:hover {
      color: #e67e22; /* naranja */
    }

    .content {
      margin-top: 100px;
    }

    .content h1 {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .content p {
      font-size: 18px;
      color: #000000;
      max-width: 600px; 
      margin: 0 auto;   
      text-align: center;
      line-height: 1.4; 
    }
  
    .logo {
      display: flex;
      align-items: center; 
      gap: 10px; 
    }
    
    .logo img {
      width: 40px;  
      height: auto; 
    }
    
    .logo span {
      font-size: 20px;
      font-weight: bold;
    }

    body.fondo {
  background-image: url("../imagenes/inicio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 76vh;
  position: relative;
  opacity: 0.8;
}