body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #fff4E0;
  }
  .container {
    border: 1px solid #ccc;
    padding: 30px;
    width: 300px;
    text-align: center;
    background: #fff;
    opacity: 0.8 ;
  }
  h2 {
    margin-bottom: 20px;
  }
  input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    background: #ff6f61;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #999;
    color: white;
  }

  .logo-login {
    position: absolute;   
    top: 20px;
    left: 20px;         
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .logo-login img {
    width: 40px;
    height: auto;
  }
  
  .logo-login span {
    font-size: 20px;
    font-weight: bold;
  }
  